<!-- patients.component.html -->
<div class="container my-4">
    <div class="d-flex mb-4 px-3">
        <div (click)="selectTab('todays')" [class.active-tab]="activeTab === 'todays'" class="tab-item me-4">
            <i class="bi bi-calendar-week me-1"></i> <strong>Today’s patients</strong>
        </div>
        <div (click)="selectTab('search')" [class.active-tab]="activeTab === 'search'" class="tab-item">
            <i class="bi bi-list"></i><strong>Search Results</strong>
        </div>
    </div>

    <div *ngIf="activeTab==='todays'">
        <div *ngFor="let p of todaysResult; let last = last" class="patient-card py-3">
            <div class="card px-3 py-1 shadow-lg mb-4">
                <div class="row patient-card-header">
                    <div class="col-md-6 d-flex flex-column 
						 p-1">
                        <div class="d-flex align-items-center">
                            <img class="img-fluid rounded me-3 pfp" src="{{p.photoUrl}}">
                            <h5 class="mb-0">{{p.fname}} {{p.lname}}</h5>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex flex-column 
						 timing" style="padding-bottom: 0px;">
                        <div class="d-flex align-items-center">
                            <strong style="padding-right: 20px;">Next Appointment</strong>
                            <small class="text-muted">{{ p.nextApptDate === todayString ? 'Today' : p.nextApptDate }} {{p.nextApptTime}}</small>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex flex-column 
                    timing" style="padding-bottom: 0px;">
                        <div class="d-flex align-items-end">
                            <i class="bi bi-chevron-right fs-4 text-secondary"></i>
                        </div>
                    </div>
                </div>

                <div class="row gx-3 patient-card-info">
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">DOB</div>
                            <div class="col-md-6 col-sm-4">{{p.dob}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Sex</div>
                            <div class="col-md-6 col-sm-4">{{p.sex}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Residence</div>
                            <div class="col-md-6 col-sm-4">{{p.residence}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">MRN</div>
                            <div class="col-md-6 col-sm-4">{{p.mrn}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 field-name">ID Number</div>
                            <div class="col-md-6 col-sm-4 field-value">{{p.idNumber}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 field-name">Last 4 digits of SSN</div>
                            <div class="col-md-6 col-sm-4">{{p.ssnLast4}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 field-name">Phone number</div>
                            <div class="col-md-6 col-sm-4">{{p.phone}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 field-name">Email Address</div>
                            <div class="col-md-6 col-sm-4">{{p.email}}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Hospital</div>
                            <div class="col-md-6 col-sm-4">{{p.hospital}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Dept</div>
                            <div class="col-md-6 col-sm-4">{{p.dept}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Physician</div>
                            <div class="col-md-6 col-sm-4">{{p.physician}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 field-name">Conditions</div>
                            <div class="col-md-6 col-sm-4">{{p.conditions}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="activeTab==='search'">
        <div *ngFor="let p of searchResult; let last = last" class="patient-card py-3">
            <div class="card px-3 py-1 shadow-lg mb-4">
                <div class="row patient-card-header">
                    <div class="col-md-6 d-flex flex-column 
						 p-1">
                        <div class="d-flex align-items-center">
                            <img class="img-fluid rounded me-3 pfp" src="{{p.photoUrl}}">
                            <h5 class="mb-0">{{p.fname}} {{p.lname}}</h5>
                        </div>
                    </div>
                    <div class="col-md-5 d-flex flex-column 
						 timing" style="padding-bottom: 0px;">
                        <div class="d-flex align-items-center">
                            <strong style="padding-right: 20px;">Next Appointment</strong>
                            <small class="text-muted">{{ p.nextApptDate === todayString ? 'Today' : p.nextApptDate }} {{p.nextApptTime}}</small>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex flex-column 
                    timing" style="padding-bottom: 0px;">
                        <div class="d-flex align-items-end">
                            <i class="bi bi-chevron-right fs-4 text-secondary"></i>
                        </div>
                    </div>
                </div>

                <div class="row gx-3 patient-card-info">
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">DOB</div>
                            <div class="col--6">{{p.dob}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Sex</div>
                            <div class="col-md-6 col-sm-4">{{p.sex}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Residence</div>
                            <div class="col-md-6 col-sm-4">{{p.residence}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">MRN</div>
                            <div class="col-md-6 col-sm-4">{{p.mrn}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 col-sm-6 field-name">ID Number</div>
                            <div class="col-md-6 col-sm-4 field-value">{{p.idNumber}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 col-sm-6 field-name">Last 4 digits of SSN</div>
                            <div class="col-md-6 col-sm-4">{{p.ssnLast4}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 col-sm-6 field-name">Phone Number</div>
                            <div class="col-md-6 col-sm-4">{{p.phone}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6 col-sm-4 col-sm-6 field-name">Email Address</div>
                            <div class="col-md-6 col-sm-4">{{p.email}}</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Hospital</div>
                            <div class="col-md-6 col-sm-4">{{p.hospital}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Dept</div>
                            <div class="col-md-6 col-sm-4">{{p.dept}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Physician</div>
                            <div class="col-md-6 col-sm-4">{{p.physician}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 col-sm-6 field-name">Conditions</div>
                            <div class="col-md-6 col-sm-4">{{p.conditions}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>